body{
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}
.container{
	width:100%;
	margin:auto;	
}
.colPicker{
	background-color: #fff;
	border:1px dashed #ccc;
	padding:2px;
}
.colPicker:hover{
	cursor: pointer;
}
.redBack{
	background-color: #BE1C26;
}
.greenBack{
	background-color: #398D38;
}
.blueBack{
	background-color: #163B59
}
header{
	height:100px;
	background-image:url("../images/topbanner.jpg");
	position:relative;
	background-size: cover;
}
h1{
	position:absolute;
	top:58px;	
	left:5px;
	font-size: 1.2rem;
}
.main{
	display:flex;
	flex-direction: column;
}
nav{
	box-sizing:border-box;
	flex-basis:20%;
	margin:10px 0;
}
nav ul{
	padding-left:0;
	list-style-type:none;
}
nav ul li{
	padding-bottom:5px;
}
nav ul li a{
	text-decoration:none;
	color:#666666;
	font-size:14px;
	display:block;
	padding:0 0 5px 5px;
	border-bottom: 1px solid #ccc;
}
nav ul li a:hover{
	background-color:#FF0;
}
.currentPage{
	text-decoration: underline;
}
.content{
	flex-basis:80%;
	padding:15px;
	margin:10px 0;
}
#myCanvas{
	background-image:url(../images/grid.png);	
}
#pounds{
	width:200px;	
}
.error{
	color: #BE1C26;
	font-weight: bold;
}
footer{
	position: fixed;
	bottom: 0;
	border-top:1px solid #CCC;	
	margin:5px 0;
	padding:15px;
	text-align:center;
	font-size:0.7em;
	box-sizing: border-box;
    width: 100%;
}